<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="scripts">
    <!-- Vendor JS -->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <!-- Core Scripts -->
    <script th:src="@{/assets/vendor/js/menu.js}"></script>

    <!-- Vendors JS -->
    <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <!-- Page-Specific JS -->
    <script th:src="@{/assets/js/dashboards-analytics.js}"></script>
</body>
</html>
