<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <span class="app-brand-logo demo">
        <!-- SVG logo code here -->
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Blog Dashboard</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item th:classappend="${request.uri == '/admin' ? 'active' : ''}">
      <a href="/" th:href="@{/admin}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <!-- News -->
    <li class="menu-item th:classappend="${request.uri.contains('/admin/news') ? 'active' : ''}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div data-i18n="News">News</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item th:classappend="${request.uri == '/admin/news' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/news}" class="menu-link">
            <div data-i18n="List News">List News</div>
          </a>
        </li>
        <li class="menu-item th:classappend="${request.uri == '/admin/news/create' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/news/create}" class="menu-link">
            <div data-i18n="Create News">Create News</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Comments -->
    <li class="menu-item th:classappend="${request.uri.contains('/admin/comments') ? 'active' : ''}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-message-square-dots"></i>
        <div data-i18n="Comments">Comments</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item th:classappend="${request.uri == '/admin/comments' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/comments}" class="menu-link">
            <div data-i18n="List Comments">List Comments</div>
          </a>
        </li>
        <li class="menu-item th:classappend="${request.uri == '/admin/comments/create' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/comments/create}" class="menu-link">
            <div data-i18n="Create Comment">Create Comment</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Categories -->
    <li class="menu-item th:classappend="${request.uri.contains('/admin/categories') ? 'active' : ''}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <div data-i18n="Categories">Categories</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item th:classappend="${request.uri == '/admin/categories' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/categories}" class="menu-link">
            <div data-i18n="List Categories">List Categories</div>
          </a>
        </li>
        <li class="menu-item th:classappend="${request.uri == '/admin/categories/create' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/categories/create}" class="menu-link">
            <div data-i18n="Create Category">Create Category</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Tags -->
    <li class="menu-item th:classappend="${request.uri.contains('/admin/tags') ? 'active' : ''}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-tag"></i>
        <div data-i18n="Tags">Tags</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item th:classappend="${request.uri == '/admin/tags' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/tags}" class="menu-link">
            <div data-i18n="List Tags">List Tags</div>
          </a>
        </li>
        <li class="menu-item th:classappend="${request.uri == '/admin/tags/create' ? 'active' : ''}">
          <a href="#" th:href="@{/admin/tags/create}" class="menu-link">
            <div data-i18n="Create Tag">Create Tag</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
