<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/app.html}">
<head>
    <title th:text="${title ?: 'Edit Tag'}">Edit Tag</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Edit Tag</h4>
            
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/admin/tags/edit}" method="post">
                        <input type="hidden" name="id" th:value="${tag.id}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Tag Name</label>
                            <input type="text" id="name" name="name" class="form-control" th:value="${tag.name}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
